


@media (max-width: 992px) {  .movietable {
    display: none;
    } }

@media (min-width: 992px) {  .moviecard {
    display: none;
    } }




.logo {
    height: 50px;
}

.movieimage {
    background-image: url("./images/movie1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 17%;
}
.movieimage2 {
    background-image: url("./images/movie2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 17%;
}
.movieimage3 {
    background-image: url("./images/movie3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 17%;
}
.movieimage4 {
    background-image: url("./images/movie4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 17%;
}
.movieimage5 {
    background-image: url("./images/movie5.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 17%;
}
.movieimage6 {
    background-image: url("./images/movie6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 17%;
}


.bg-dark1 {
    --bs-bg-opacity: 0.5;
    background-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity)) !important;
}


.onhit:hover {
    --bs-bg-opacity: 0.2;

}






